.button {
  cursor: pointer;
}

.customers {
  float: left;
  width: 60%;
}

.buy {
  float: right;
  width: 40%;
  text-align: left;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.border {
  border-style: solid;
}

.amount {
  float: right;
  width: 25%;
  text-align: center;
}

@media (max-width: 444px) {
  .size {
    font-size: 70%;
  }
}

@media (max-width: 553px) {
  .customers {
    width: 100%;
  }

  .buy {
    clear: both;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .left {
    width: 100%;
  }

  .right {
    clear: both;
    width: 100%;
  }

  .textWidth {
    width: 40%;
  }
}