button {
  cursor: pointer;
}

.main-bt {
  height: 30px;
  font-size: 15px;
}

.grid {
  display: grid;
  gap: 20px;
  padding-left: 2px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.amount {
  text-align: center;
}

@media (min-width: 585px) {
  .mainPage {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .productsPage {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 585px) {
  .mainPage {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .productsPage {
    grid-template-rows: 2fr 0.5fr 0.5fr;
  }

  .amount {
    text-align: start;
  }
}
